* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white; 
}

.container {
  width: 100%;
  padding: 20px;
  background-color: white; 
}

.title {
  text-align: center;
  font-family: serif;
  font-size: 40px;
  margin-bottom: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 120px); /* changed from 4 rows to 3 */
  width: 100%;
  border: 6px solid #2f69bf;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 4px solid #2f69bf;
  background-color: #a9bfd3;
}
