* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color:#111;
}

.container {
  width: 100%;
  padding: 20px;
  background-color: white;
}

.title {
  text-align: center;
  font-family: serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 120px 120px 90px 90px; /* bottom reduced */
  width: 100%;
  border: 6px solid #2f69bf;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 4px solid #2f69bf;
  background-color: #1e73d8;
}


.box1 { grid-column: 1 / 2; grid-row: 1 / 2; }
.box2 { grid-column: 2 / 3; grid-row: 1 / 2; }
.box3 { grid-column: 3 / 5; grid-row: 1 / 2; }

.box5 { grid-column: 1 / 3; grid-row: 2 / 3; }
.box4 { grid-column: 3 / 5; grid-row: 2 / 3; }

.box6 { grid-column: 1 / 3; grid-row: 3 / 5; } 
.box7 { grid-column: 3 / 4; grid-row: 3 / 5; }  /* spans down */
.box8 { grid-column: 4 / 5; grid-row: 3 / 5; }  /* spans down */
