* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 20px;
  background-color: #d3d3d3;
}

.title {
  font-family: serif;
  font-size: 40px;
  margin-bottom: 20px;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  width: 100%;
  border: 6px solid #2f69bf;
  background-color: #a9bfd3;
}

/* Boxes */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 4px solid #2f69bf;
  background-color: #a9bfd3;
}

/* Custom Grid Placement */
.box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.box2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.box3 {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.box4 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.box5 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.box6 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.box7 {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
}

.box8 {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}
